[submodule "nova-physics"]
	path = nova-physics
	url = https://github.com/gresm/nova-physics.git
[submodule "nova-physics-python"]
	path = nova-physics-python
	url = https://github.com/gresm/nova-physics-python.git
